/* Asegurar que html, body y el contenedor principal ocupen el 100% de la altura */
html, body {
  height: 100%;
  margin: 0; /* Asegurar que no haya márgenes */
  padding: 0; /* Asegurar que no haya padding */
  overflow-x: hidden; /* Evitar barra horizontal */
  background-color: var(--background-color, #fff);
  color: var(--text-color, #000);
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
  margin: 0; /* Asegurar que no haya margen alrededor del body */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegurar que el contenedor principal abarque toda la ventana */
}

.main-content {
  flex: 1; /* Hacer que el contenido principal ocupe el espacio restante */
  display: flex;
  flex-direction: column;
  margin: 20px auto; /* Añadir margen superior e inferior */
  width: 100%; /* Asegurar que no exceda el ancho */
  max-width: 1200px; /* Limitar el ancho máximo */
  padding: 20px; /* Aumentar el padding lateral */
}

footer {
  margin-top: auto; /* Asegurar que el footer esté al final */
  background-color: #1b1b1b; /* Fondo oscuro */
  color: white; /* Texto blanco */
  padding: 20px 0; /* Reducir espaciado interno */
  text-align: center; /* Centrar el texto */
  width: 100%; /* Asegurar que el footer ocupe todo el ancho */
  box-sizing: border-box; /* Incluir padding en el ancho */
}

footer a {
  color: #ffffff; /* Color de los enlaces */
  text-decoration: none; /* Quitar subrayado */
}

footer a:hover {
  text-decoration: underline; /* Subrayar al pasar el cursor */
}

/* Tema claro */
.theme-light {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background-color: #ffffff; /* Cambiar para que coincida con el fondo */
}

/* Tema oscuro */
.theme-dark {
  --background-color: #1b1b1b;
  --text-color: #ffffff;
  --card-background-color: #2a2a2a; /* Fondo más claro para los cuadros */
}


.roster-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

/* Actualizar los cuadros para usar el color de fondo de los cuadros */
.player-card,
.game-card,
.card {
  background-color: var(--card-background-color);
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.player-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.horizontal-carousel-wrapper {
  margin-top: 20px; /* Añadir separación con la navbar */
}

.mb-4 {
  margin-top: 0 !important; /* Asegurar que no haya separación con la navbar */
}

.modal-content {
  background-color: var(--card-background-color, #fff) !important;
  color: var(--text-color, #000) !important;
}
