/* Asegurar que html, body y el contenedor principal ocupen el 100% de la altura */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegurar que el contenedor principal abarque toda la altura de la ventana */
}

.main-content {
  flex: 1; /* Hacer que el contenido principal ocupe el espacio restante */
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 100px; /* Separar el footer del contenido principal */
  background-color: #1b1b1b; /* Fondo oscuro */
  color: white; /* Texto blanco */
  padding: 50px 0; /* Espaciado interno */
  text-align: center; /* Centrar el texto */
}

footer a {
  color: #ffffff; /* Color de los enlaces */
  text-decoration: none; /* Quitar subrayado */
}

footer a:hover {
  text-decoration: underline; /* Subrayar al pasar el cursor */
}
