.media-page {
  text-align: center;
}

.match-section img {
  margin-bottom: 15px;
  border: 2px solid #ddd;
  transition: transform 0.3s ease;
}

.match-section img:hover {
  transform: scale(1.05);
  border-color: #007bff;
}

.match-card {
  background-color: var(--card-background-color); /* Usar el color de fondo del tema */
  color: var(--text-color); /* Asegurar que el texto también cambie */
  border-radius: 10px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

.match-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor */
}

.back-button {
  display: block;
  margin-bottom: 20px;
  text-align: left;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@keyframes modal-scale {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  max-height: 90%; /* Limitar la altura máxima */
  overflow-y: auto; /* Hacer el modal desplazable */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: modal-scale 0.3s ease-out;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #c82333;
}

.modal-content h2, .modal-content h3, .modal-content h4, .modal-content ul {
  text-align: center;
}

.modal-content ul {
  list-style: none;
  padding: 0;
}